name: Run News Scraper

on:
  schedule:
   - cron: "30 1 * * *"    # 7:00 AM IST  (1:30 UTC)
   - cron: "30 8 * * *"    # 2:00 PM IST  (8:30 UTC)
   - cron: "30 14 * * *"   # 8:00 PM IST  (14:30 UTC)
  workflow_dispatch:       # Allow manual run

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        run: python scrape_new.py

      - name: Send email
        run: python send_email.py
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
          CC_EMAIL: ${{ secrets.CC_EMAIL }}
